body {
    text-align: center;
    font-family: Arial;
}

.highlight {
    color: white;
    background-color: green;
    padding: 10px;
}

.new-style {
    font-size: 20px;
    color: red;
}